<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.dao.SystemJurisdictionMenuRelMapper">
  <resultMap id="BaseResultMap" type="com.pro.entity.SystemJurisdictionMenuRelKey">
    <id column="jurisdiction_id" jdbcType="CHAR" property="jurisdictionId" />
    <id column="menu_id" jdbcType="CHAR" property="menuId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    jurisdiction_id, menu_id
  </sql>
  <select id="selectByExample" parameterType="com.pro.entity.SystemJurisdictionMenuRelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from system_jurisdiction_menu_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pro.entity.SystemJurisdictionMenuRelKey">
    delete from system_jurisdiction_menu_rel
    where jurisdiction_id = #{jurisdictionId,jdbcType=CHAR}
      and menu_id = #{menuId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pro.entity.SystemJurisdictionMenuRelExample">
    delete from system_jurisdiction_menu_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pro.entity.SystemJurisdictionMenuRelKey">
    insert into system_jurisdiction_menu_rel (jurisdiction_id, menu_id)
    values (#{jurisdictionId,jdbcType=CHAR}, #{menuId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pro.entity.SystemJurisdictionMenuRelKey">
    insert into system_jurisdiction_menu_rel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jurisdictionId != null">
        jurisdiction_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jurisdictionId != null">
        #{jurisdictionId,jdbcType=CHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pro.entity.SystemJurisdictionMenuRelExample" resultType="java.lang.Long">
    select count(*) from system_jurisdiction_menu_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update system_jurisdiction_menu_rel
    <set>
      <if test="record.jurisdictionId != null">
        jurisdiction_id = #{record.jurisdictionId,jdbcType=CHAR},
      </if>
      <if test="record.menuId != null">
        menu_id = #{record.menuId,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update system_jurisdiction_menu_rel
    set jurisdiction_id = #{record.jurisdictionId,jdbcType=CHAR},
      menu_id = #{record.menuId,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>